/* -----------------------Header Section Style Here---------------------- */
.header:after {
  content: "";
  position: absolute;
  width: 90%;
  left: 0px;
  top: 0px;
  filter: blur(800px);
  background: #3c84f7;
}
.header::before {
  content: "";
  position: absolute;
  width: 10%;
  right: 0px;
  top: 0px;
  background: #f6d62e;
  filter: blur(750px);
}

.header form {
  margin: 0 96px;
}
.header form.search-box {
  border: none;
  padding: 0;
}
.header input.search-box::placeholder {
  color: #575757;
  padding: 0 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  font-family: "Poppins";
}

.header input.search-box {
  width: 270px;
  height: 48px;
  border: 2px solid #43444f;
  border-radius: 300px;
  padding: 12px 4px 13px 40px;
  background: url("../Assets/Icons/search_icon.png") no-repeat 13px center
    #1f2227;
}
.header input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .header form {
    margin-left: 134px;
  }
  .header input.search-box {
    border: none;
    background-position: right;
    background-color: transparent;
    padding: 12px 8px 15px 0px;
    background-image: url("../Assets/Icons/search2.png");
    width: 120px;
    height: 48px;
  }
}
@media only screen and (max-width: 360px) {
  .header form {
    margin: 0 17px;
  }
  .header input.search-box {
    border: none;
    background-position: right;
    background-color: transparent;
    padding: 12px 8px 15px 60px;
    background-size: 25px;
    background-image: url("../Assets/Icons/search3.png");
    width: 20px;
    height: 48px;
  }
}

/* -----------------------Hero Section Style Here---------------------- */
.hero::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 740px;
  left: 0px;
  top: 154px;
  filter: blur(750px);
  background: #3c84f7;
}
.hero::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 740px;
  right: 0px;
  top: 154px;
  background: #f6d62e;
  filter: blur(550px);
}
.hero-bg {
  background-image: url(../Assets/Images/hero_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1614px;
  min-height: 622px;
}

@media only screen and (max-width: 768px) {
  .hero-bg {
    background-image: url(../Assets/Images/bg.png);
    min-height: 394px;
    opacity: 100;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 360px) {
  .hero-bg {
    background-image: none;
  }
  .bg-img {
    background-image: url(../Assets/Images/bg\(1\).png);
    padding-top: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 290px;
    opacity: 100;
    min-height: 340px;
  }
}

/* -----------------------Footer Section Style Here---------------------- */
.footer .subscribe-box:focus {
  outline: none;
}
.footer .subscribe-box {
  border: 2px solid #3e3e46;
}

/* -----------------------Popular Collection Section Style Here---------------------- */
.popularCollectionCard {
  border: 2px solid;
  border-image: linear-gradient(rgba(76, 73, 189, 1), rgba(64, 107, 63, 1));
  border-image-slice: 1;
  box-sizing: border-box;
  border-radius: 15px;
}
/* .popularCollectionCard::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background: linear-gradient(rgba(76, 73, 189, 1) , rgba(64, 107, 63, 1));
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
*/

/* -----------------------Top SEllers-------------------------- */
@media only screen and (max-width: 360px) {
  .top-sellar-btn {
    position: absolute;
    bottom: 30px;
    width: 328px;
    height: 48px;
    left: 16px;
  }
  .popular-collection-btn {
    position: absolute;
    bottom: 0;
    width: 328px;
    height: 48px;
    left: 16px;
  }
  .today-piks-btn {
    width: 328px;
    height: 48px;
  }
}
